.ul-list {
    list-style: none;
}
.listItem {
    width: 70%;
    height: 1.5em;
    font-size: 1.3em;
    display: inline-block;
    overflow: hidden;
}
li button {
    align-self: center;
  display: inline;
  color: red;
}
li {
    margin-bottom: 10px;
}
.update {
    width: 85%;
}
